channels:
  - conda-forge
dependencies:
  - ase
  - coveralls
  - coverage
  - codacy-coverage
  - damask=3.0.0=*_9
  - matplotlib
  - fenics =2019.1.0=*_21
  - mshr =2019.1.0=*_4
  - numpy
  - pyiron
  - pyiron-data >=0.0.16
  - pyvista
  - scipy
  - seaborn
  - scikit-image
  - papermill
